body{
    background-image: url(/image/donate-background.jpg);
   position: relative;
}
table{
    

    float: right;
    background-color:rgba(96, 96, 96,.8) ;
    color: #eee ;
   
    width: 50%;
border-radius: 3px;
    border: 2px solid rgba(96, 96, 96,.8);
    padding: 10px;

}
table td {
    padding: 3px;
    border: 2px solid #eee;
}
table th {
    padding: 3px;
    border: 2px solid #eee;
}

fieldset{
    border: 2px solid rgba(96, 96, 96,.8);
    padding: 10px;
    background-color:  rgba(96, 96, 96,.8);
    color: #eee;
    width: 40% ;
    border-radius: 3px;
    position: absolute;
}
h1{
    background-color: rgba(96, 96, 96,.8);
    color:#eee;
    text-align: center;
} 
footer{
    background-color:rgba(96, 96, 96,.8) ;
    text-align: center;
    margin-top: 40%;
    font-weight: bolder;
}
#totall{
    font-weight: bolder;
}
* {
    box-sizing: border-box;
  }
label {
    padding: 12px 12px 12px ;
    display: inline-block;
 
  }
  input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #eee;
   float: right;

  }
  #submitBtn{
    width: 51%;
    padding: 10px;
    border: 1px solid #eee;
    background-color: black;
    color: #eee;
    float: right;
 

    
  }